<!DOCTYPE html>

<html>
  <head>
    <title>Brandon's Blog!</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

          
        

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>  
        </tr>

        
        <table>
          <tr>
            <td class="error">{{error_username}}
            </td>
          <tr>
        </table>

        
      </table>

      <input type="submit">
    </form>

    <p><a class='return-link' href='/blog'>Back to Blog</p>

  </body>

</html>
