<!DOCTYPE html>

<html>
  <head>
    <title>Brandon's Blog!</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Signup</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
          <td class="error">
            {{error_verify}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional)
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">
            {{error_email}}
          </td>
        </tr>
      </table>

      <input type="submit">
    </form>

    <div class="login-area">
    {% if username %}
    {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
    <a class="login-link" href="/login">login</a>
    <a class="login-link" href="/signup">signup</a>
    {% endif %} 
  </div>
  
  <p><a class='return-link' href='/blog'>Back to Blog</p>
  
  </body>

</html>
